@media screen and (min-width: 360px) {
    .menu {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .menu__title {
        font-weight: 700;
    }
    .container__logo{
        display: flex;
        align-items: center;
       

    }
    .container__header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        
    }

    .container__header h3 {
        color: #464646;
        margin-left: 0.563rem;
    }

    .menu__list {
        display: none;
    }

    .menu__list__item__contato a {
        color: #464646;
        font-size: 0.9rem;
        font-weight: 400;
    }
}
@media screen and (min-width: 1024px){
    .menu{
        padding-left:4.5rem;
        padding-right:4.5rem;
    }
}

