
.academic{
    background-color: rgb(214, 133, 118);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}
.academic__courses{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(233, 75, 180);
    margin-bottom: 2rem;    
}
.academic__courses__box{
    height: 100%;
    background-color: rgb(78, 139, 192);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .academic__courses__item__img{
   
    display: flex;
    background-color: chocolate;
 
    justify-content: center;
   
    align-items: center;
    
}



.academic__title{
    color: #464646;
    font-size: 1.375rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem 0;
}


 .academic__courses__list{
    width: 100%;
    background-color: azure;
   
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin-bottom: 1rem;
} 


.academic__courses__item__img img{
    width: 70%;
   
    
}
#img__formacao{
    width: 60%;
}

.academic__courses__item__title{
    color: #464646;
    font-size:1rem ;
    line-height: 1rem;
    font-weight: 700;
    margin: 0.7rem 0;
}

.academic__courses__item__subtitle{
    font-size: 0.875rem;
    color: #464646;
    font-weight: 500;
    
}